
<h3>Block Chain  Details</h3>
Enter hash ID : <input type="text" #guser>
<button (click)="getDetails(guser.value)">GetDetails</button>

<div *ngIf ="user;else nouser">
    <h3>LoginID:{{user.login}}</h3>
  <h3>ID:{{user.id}}</h3>
  <h3>Name:{{user.name}}</h3>
  <h3>Company :{{user.company}}</h3>
  <h3>Email :{{user.email}}</h3>
  <h3>Location: {{user.location}}</h3>
  <h3>Url: {{user.url}}</h3>
  <h3>Repo Url:{{user.repos_url}}</h3>
  <h3>Follwers:{{user.followers}}</h3>
  <h3>Created At:{{user.created_at}}</h3>
  <img *ngIf="user.avatar_url" [src]="user.avatar_url" />
</div><br><br>
<div>&nbsp;</div>
<ng-template #nouser>{{errormsg}}</ng-template>
<div *ngIf="!user">{{errormsg}}</div>